// widgets.scss

@import '_variables';

/* Primary Sidebar */
#secondary {
    h2 {
        font-size: 1.3rem;
        color: #444;
    }
}

/* Global Widgets */
.widget {
    padding: $padding-medium;
    margin: $padding-small;
    background: $accent;
    border: 1px solid $secondary;
    border-radius: $border-radius;
    
    h2, h3, h4 {
        font-size: 1.3em;
        color: #444;
        margin-bottom: $padding-small;
    }
}
