.media-wolf-dashboard .dashboard-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.media-wolf-dashboard .dashboard-sections .dashboard-section {
  padding: 20px;
  background: hsl(45.7, 67.7%, 93.9%);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.media-wolf-dashboard .dashboard-sections .dashboard-section:nth-child(odd) {
  background: hsl(45.7, 67.7%, 100%);
}
.media-wolf-dashboard .dashboard-sections h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: hsl(37.4, 67.6%, 57.6%);
}