/* Primary Sidebar */
#secondary h2 {
  font-size: 1.3rem;
  color: #444;
}

/* Global Widgets */
.widget {
  padding: 16px;
  margin: 8px;
  background: hsl(45.7, 67.7%, 93.9%);
  border: 1px solid hsl(0, 0%, 25.1%);
  border-radius: 4px;
}
.widget h2, .widget h3, .widget h4 {
  font-size: 1.3em;
  color: #444;
  margin-bottom: 8px;
}